/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.modal {
	outline: 2px solid rgb(0, 124, 186);
	position: relative;
	min-height: 500px;
	margin-top: 25px;
	padding: 25px;
	> .components-button {
		display: block;
		margin-left: auto;
		position: absolute;
	}
}


